body{
    font-family: 'Sans-Serif';

}
.site-heading-lower{
    font-family: 'Comic Sans MS';
}
.mb-3{
    color: magenta !important;
    font-style: italic;
    font-family: 'Impact';
}
.notYellow{
    color: black !important;
}
.intro-text{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}